<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MMM-dd'T'kk:mm:ss} %msg%n" />
        </Console>
        
        <!-- File Appender 
        <File name="File" fileName="logs/XML_Importer.log">
            <PatternLayout pattern="%d{yyyy-MMM-dd'T'kk:mm:ss} %msg%n" />
        </File> -->
        
        <!-- Rolling File Appender -->
        <RollingFile name="RollingFile"
            fileName="logs/XML_Importer_Rolling_File.log"
            filePattern="logs/XML_Importer_Rolling_File.log-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d{yyyy-MMM-dd'T'kk:mm:ss} %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
            <DefaultRolloverStrategy max="7" />
        </RollingFile>     
    
    </Appenders>

    <Loggers>
        <!-- Log everything in custom package -->
        <Logger name="com.sps.app" level="info" additivity="false">
            <AppenderRef ref="RollingFile" />
        </Logger>

        <!-- Log everything in Spring Boot
        <Logger name="org.springframework.boot" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Logger> -->

        <!-- Log everything in Spring Core
        <Logger name="org.springframework.core" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Logger> -->

        <Root level="error">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Root>
    
    </Loggers>
</Configuration>